.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #a32656; 
    color: #fff;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.back {
    color: #fff;
    font-size: 1.1rem;
}